
<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body>
<%- include('../partials/header'); %>
<div class="app-others">
    <div class="row">
        <div class="column">
            <div class="sub-page-card">
                <h1>Read our Blogs!</h1>

            </div>
        </div>

        <div class="column">
            <img src="/images/modify.png" class="sub-pages-img" alt="Modify Blog">
            <img src="/images/delete.jfif" class="sub-pages-img" alt="Delete Blog">



        </div>


        <table class="table table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Creator ID</th>
            <th>Date Created</th>
            <th>Blog ID</th>
            <th>Content</th>
            <th class="d-print-none">
                <a class="btn btn-sm btn-success" href="/newBlog">Add</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <% blogs.forEach((blog) => { %>
            <tr>
                <td><%= blog.title %></td>
                <td><%= blog.creator %></td>
                <td><%= blog.createDate %></td>
                <td><%= blog.blogid %></td>
                <td><%= blog.content %></td>
                <td class="d-print-none">
                    <a class="btn btn-sm btn-danger" href="/admin/delete/<%= blog.blogid  %>">Delete</a>
                    <a class="btn btn-sm btn-warning" href="/admin/edit/<%= blog.blogid %>">Edit</a>

                </td>
            </tr>
        <% }); %>
        </tbody>
        </table>
        </div>

    </div>
</div>
</body>

</html>