<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header'); %>
    <h1><%= pageTitle %></h1>
    <p>Welcome to <%= pageTitle %></p>
    <p> Need to work out your own content of the page</p>
    <%- include('../partials/footer'); %>
  </body>
</html>
