<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body>
<%- include('../partials/header'); %>
<div class="app-others">
    <div class="row">
        <div class="column">
            <div class="sub-page-card">
                <h1>Modify a blog</h1>
            </div>
        </div>

        <div class="column">
            <img src="/images/modify.png" class="sub-pages-img" alt="Modify Blog">
        </div>

        <form action="/modifyBlog/<%= blog.blogid %>" method="post">
            <div class="form-horizontal">

                <%- include("editor") -%>
                <div class="form-group row">
                    <label class="col-form-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input type="submit" value="Update" class="btn btn-default btn-warning" />
                        <input type="submit" value="Cancel" class="btn btn-outline-dark cancel"/>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<%- include('../partials/footer'); %>
</body>

</html>